<section class="subscribe p-4">
    <div class="container">
        <div class="row col-12 col-md-9 col-lg-6 m-auto">
	    <form data-members-form="subscribe" class="form-inline">
	      <div class="row">
      	    <div class="form-group">
         	     <input data-members-label type="hidden" value="Website Subscriber" />
	              <label for="subscribeEmail" class="h5 mr-4">Stay Updated</label>
         	     <input data-members-email type="email" required="true" class="form-control" placeholder="your.email@example.com" autofocus=autofocus/>
   	       </div>
 	     </div>
 	     <div class="input-group-append">
  	        <button class="btn btn-primary" type="submit">Subscribe</button>
 	     </div>
	     <p data-members-error><!-- error message will appear here --></p>
	    </form>
        </div>
    </div>
</section>
